/*
 * Empty Stylesheet file.
 */

#main_window {
    -fx-background-color: #ecebe4;
}

#right_pane, #top_pane {
    -fx-background-color: #121c1e;
}

#email_input {
    -fx-prompt-text-fill: #121c1e;
}

#submit_btn {
    -fx-border-radius: 10px;
    -fx-background-color: #009e4e;
}

#submit_btn:hover {
    -fx-background-color: #009147;
    -fx-cursor: hand;
}

#home_btn {
    -fx-cursor: hand;
}