/*
 * Empty Stylesheet file.
 */

#top_pane {
    -fx-background-color: #121c1e;
}

#main_window {
    -fx-background-color: #152123;
}

.scroll-pane > .viewport {
   -fx-background-color: #152123;
}

.scroll-bar:vertical {
    -fx-background-color: #172326;
}

.scroll-bar:vertical .thumb {
    -fx-background-color: #121c1e;
}

.scroll-bar:vertical .track {
    -fx-background-color: #172326;
}

.scroll-bar:vertical .increment-arrow, .scroll-bar:vertical .decrement-arrow {
    -fx-background-color: white;
}

.scroll-bar:vertical .increment-button, .scroll-bar:vertical .decrement-button {
    -fx-background-color: #172326;
}
